* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;;
}

header {
    background-color: blue;
    padding: 16px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

header .container ul {
    display: flex;
    clear: both;
}

header h1 {
    font-style: italic;
    font-size: 32px;
}

header .container li {
    margin-left: 32px;
}

header .container li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

li {
    list-style: none;
}

.about .container article{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin: 56px 0;
}

.about img {
    max-width: 450px;
    width: 100%;
}

h2 {
    color: blue;
    font-style: italic;
    font-weight: bold;
    border-bottom: 2px solid blue;
    padding-bottom: 16px;
    margin-bottom: 48px;
    font-size: 26px;
}

.product nav ul {
    display: grid;
    grid-template-columns: repeat(4, 22%);
    grid-gap: 3%;
}


.product nav img {
    max-width: 200px;
    width: 100%;
    margin: 6px 0;
}

.product h3 {
    margin: 6px 0;
}

.product p {
    margin: 6px 0;
    color: #ccc;
}

.product button {
    color: #fff;
    background-color: blue;
    max-width: 250px;
    width: 100%;
    padding: 8px 0;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 6px 0;
}

footer {
    margin-top: 32px;
}

@media screen and (max-width: 640px) {
    .container {
        max-width: 85%;
        margin: 0 auto;
    }

    header .container ul {
        display: block;
    }

    .about .container article{
        display: block;
        margin: 56px 0;
    }

    .about .container article img {
        margin-bottom: 28px;
    }

    .about img {
        max-width: 100%;
    }

    .product nav ul {
        width: 100%;
        text-align: center;
        display: block;
        margin: 0 auto;
    }
    
    .product nav img {
        max-width: 200px;
        width: 100%;
        margin: 6px 0;
    }
    
    .product h3 {
        margin: 6px 0;
    }
    
    .product p {
        margin: 6px 0;
        color: #ccc;
    }
    
    .product button {
        color: #fff;
        background-color: blue;
        max-width: 100%;
        padding: 8px 0;
        font-weight: bold;
        font-size: 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin: 6px 0;
        margin-top: 16px;
        margin-bottom: 56px;
    }

    footer {
        margin-top: 0;
    }
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .container {
        width: 80%;
        margin: 0 auto;
    }

    .about .container article{
        display: block;
        margin: 56px 0;
    }

    .about img {
        max-width: 100%;
        margin-bottom: 32px;
    }

    .product .container nav ul {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        text-align: center;
    }

    .product button {
        max-width: 100%;
        margin-bottom: 32px;
    }
}